* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../img/00-bg.jpg');
}

/* Utility CSS */

.float {
  float: left;
}

.structure {
  width: 1200px;
  margin: 15px auto;
}

.content {
  padding: 15px;
}

.transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clean:after {
  clear: both;
  content: '';
  display: table;
}

/* / Utility CSS */

.container {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
}

header.structure>section {
  background: #FFF;
  color: #FFF;
  font-weight: bold;
  height: 350px;
  position: relative;
}

#header-bg {
  background-image: url('../img/01-header.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

.title {
  width: 500px;
}

.title>img {
  width: 80%;
  display: block;
  margin: auto;
}

.title>div {
  font-size: 25px;
  text-align: center;
  text-shadow: 5px 5px 10px #000;
}


.menu {
  background: #504741;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.menu a {
  color: #B7C8C6;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: inline-block;
}

.menu>ul>li {
  float: left;
  padding: 0 16px;
}

.menu>ul>li:hover {
  background: rgba(0, 0, 0, 0.5);
}

.menu>ul>li:hover a {
  color: #FFF;
}

.menu>ul>li:not(:last-child) {
  border-right: groove #808080;
}

.side {
  width: 300px;
}

.side:nth-child(1) {
  height: 400px;
}

.side:nth-child(1), .side>.box {
  background-color: #D391E3;
}

.side>.box {
  width: 100%;
  height: 250px;
  margin-bottom: 25px;
}

.center {
  width: 600px;
  height: 600px;
  padding: 0 15px;
}

.float.center>div {
    background: #800080;
    width: 100%;
    height: 100%;
}

footer.structure>section {
  background: #ADD8E6;
  width: 100%;
  height: 150px;
  text-align: center;
}

.credits {
  padding: 10px;
  height: 30%;
  border-bottom: 1px solid #000;
}

.social {
  height: 70%;
  position: relative;
}

.social>.float {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
