* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/00-bg.jpg');
}

a {
  text-decoration: none;
  color: #000;
}

/* Utility CSS */
.float {
  float: left;
}

.inline {
  display: inline-block;
}

.transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clean:after {
  clear: both;
  content: '';
  display: table;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
}
/* / Utility CSS */

.structure {
  width: 1200px;
  margin: 15px auto;
  font-family: 'Roboto';
}

.title-box {
  height: 350px;
  border: 20px solid #FFF;
  color: #FFF;
  font-weight: bold;
  position: relative;
  background-image: url('../img/01-header.jpg');
  background-size: cover;
  background-position: center;
}

.title-box>.transform>img {
  width: 75%;
  display: block;
  margin: auto;
}

.title-box>div {
  font-size: 25px;
  text-align: center;
  text-shadow: 5px 5px 10px #000;
}

.menu {
  background: #504741;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.menu a {
  color: #B7C8C6;
}

.menu>.inline>li {
  float: left;
  list-style-type: none;
  padding: 0 16px;
}

.menu>.inline>li:hover {
  background: rgba(0, 0, 0, 0.5);
}

.menu>.inline>li:hover a {
  color: #FFF;
}

.menu>.inline>li:not(:last-child) {
  border-right: groove #808080;
}

.box {
  background: #FFF;
  border: solid 1px #FFF;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.side {
  width: 25%;
}

.side:first-child {
  height: 400px;
}

.side:last-child>.box {
  height: 250px;
  margin-bottom: 25px;
}

.center {
  width: 50%;
  padding: 0 15px;
}

.float.center>.box {
    height: 600px;
  }

.box .title {
  color: #504741;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.rss>.inline:first-child {
  width: 10%;
  vertical-align: middle;
}

.rss img {
  width: 100%;
}

.feedlist {
  list-style-type: none;
}

.feedlist a {
  font-weight: bold;
  color: #29AB1B;
}
.feedlist>li {
  margin: 15px 5px;
}

footer.structure>section {
  height: 150px;
  text-align: center;
}

.credits {
  padding: 10px;
  height: 30%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.social {
  height: 70%;
}

.social>.float {
  position: relative;
}

.social>.float {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}

.social>.float>a>img {
  width: 30px;
}
